# dependencies
node_modules/

# env
.env*
client/.env*
server/.env*

# build
dist/
build/
client/dist/
server/dist/

# logs
*.log

# uploads
server/uploads/*
!server/uploads/.gitkeep

# IDE
.vscode/
.idea/

# temp
tmp/
temp/

# OS
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo